*{
    margin: 0;
    padding: 0;
}

/* header styles */
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
}

header nav img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

header nav a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav a:hover{
    color: #ff6600;
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

/* footer styles */

footer {
    text-align: center;
    padding: 1rem;
    background-color: whitesmoke;
    width: 100%;
    bottom: 0;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* body styles*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}